<h1>Smart Android Market Link</h1>
<p>Use a link to send people to either the Android web page for an app or the Android Marketplace.  All params will
be passed through

Example:
  
</p>

<a href="http://github.com/browep/smart-android-market-link">MORE INFO</a>