<h1>Smart Android Market Link</h1>
<p>Use a link to send people to either the Android web page for an app or the Android Marketplace. All params will
  be passed through

</p>
<p>Example: <br/>
  <textarea cols=120 rows="5">
http://saml.heroku.com/?id=com.github.browep.fpt
  </textarea><br/>
  With Analytics: <br/>
  <textarea cols=120 rows="5">
http://saml.heroku.com?id=com.github.browep.fpt&referrer=utm_source%3Dinapp%26utm_medium%3Dfacebook%26utm_term%3Dworkout%26utm_content%3Dmycontent%26utm_campaign%3Dinapp
  </textarea>

</p>

<a href="http://github.com/browep/smart-android-market-link">MORE INFO</a>
<br/>
Contact:<br/>

brower.paul [the at symbol] gmail DOT com